:root {
	--black: #2C2C2C;
	--grey: rgba(0, 0, 0, 0.5);
}

html {
	font-size: 16px;
}

.app-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"left right";
	justify-items: start;
	min-height: 100vh;
}

.overview-container {
	grid-area: left;
	padding: 8rem;
}

.detail-container {
	grid-area: right;
	padding: 8rem;
	width: 50vw;
}

.datapoints-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.datapoint-container {
	min-width: fit-content;
	padding: 1rem 0rem 1rem 0rem;
	cursor: pointer;
}

.datapoint-sm {
	transform: scale(0.75);
	width: fit-content
}

.row {
	display: flex;
	flex-direction: row;
}

.align-center {
	align-items: baseline;
}

.icon-sm {
	/* 18 px */
	height: 1.125rem;
	opacity: 0.5;
}

.icon-lg {
	/* 18 px */
	height: 2.5rem;
	opacity: 0.5;
}

/* GRAPH */
.graph-container {
	height: calc(256px + 30px);
	width: 100%;
}

.graph-line {
	stroke:rgba(173, 173, 173, 0.315);
}

.horizontal-radio-selection-container{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	width: fit-content
}

.horizontal-radio-selection-item {
	display: flex;
	padding: 0 32px 0 32px;
	border-radius: 100px;
	transition-duration: 200ms;
}
.selected {
	transition-duration: 200ms;
	background-color: rgba(150, 255, 253, 0.592);
}
.vspace{
	height: 32px
}
/* Mobile media queries */
@media (max-width: 768px) {
	.app-container {
		margin: 0.5rem;
		grid-template-columns: 1fr;
		grid-template-areas:
			"left"
			"right";
	}
}
